@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border: 3px;
  --color1: #6be89b;
  --color2: #0076a5;
  --from: 30deg;
  --distance: 46%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(1.1)
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(1.1)
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Start from being invisible */
  }

  100% {
    opacity: 1;
    /* End at fully visible */
  }
}

@keyframes grow {
  0% {
    height: 0;
    transform: scaleX(0);
    transform-origin: center;
  }

  100% {
    height: 100%;
    transform: scaleX(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }

  100% {
    opacity: 0;
    transform: translateY(30px) scale(1.1);
  }
}

.header-details {
  animation: fadeDown .5s;
}

.welcome-text {
  animation: fadeIn 2s ease-out forwards;
}

.welcome-details {
  animation: fadeUp .5s;
}

.animate-out {
  animation: fadeOut .3s forwards;
}

.animate-in {
  animation: fadeUp .3s forwards;
}